@{
  Layout = "_Layout";
}

<div class="container">

  <h4>Please enter a word, we will return you a score</h4>
  <form action="/score" method="post">
    <label for="input-word">Enter a word:</label>
    <input type="text" name="input-word" id="input-word">

    <button id="submit" class="btn btn-primary btn-lg" type="submit">Show me score!</button>
  </form>



  <h4>Your score is: <span class="output">@Model</span></h4>
  <h4><a href="/">Reset</a></h4>

</div>
